@use '../abstract/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 10px;
}


.img-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    z-index: 1000;
}


.card-img-front {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 10px
}

.card-img-back {
    margin-top: 56px;
    grid-column: 2/-1;
    grid-row: 1/3;
    position: relative;
    z-index: -100;

}

picture {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
}



.front-details {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 225px;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    gap: 10px;
    letter-spacing: $ls-card-details;
}

.front-details > * {
    text-align: center;
    margin: 10px 0 0 0;
}

.back-details {
    position: absolute;
    grid-column: 3;
    grid-row: 2;
    left: 60%;
    top: -20%;
}

.row-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-logo {
    width: 20%;
}


@media (min-width: 1440px) {
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .right-side, .left-side {
        width: 50%;
        border: 2px solid red;
    }

}