@use '../abstract/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 10px;
}

.left-side {
    background-image: url('/assets/images/bg-main-mobile.png');
}


.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 1000px) {

    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;


        grid-template-areas: 
        "sidebar sidebar main main main main"
        "sidebar sidebar   main main main main"
        "sidebar  sidebar main main  main main"
        "sidebar sidebar  main main main main"
    }

    .right-side {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }

    .left-side {
        grid-area: sidebar;
        padding: 10px;
        background-image: url('/assets/images/bg-main-desktop.png');
        width: 100%;
    }

}


    .column {
        display: flex;
        flex-direction: column;
    }

