@use '../abstract/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 10px;
}



.img-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    z-index: 1000;
}


.card-img-front {
    grid-column: 1/3;
    grid-row: 2/3;
    transform: translateX(20%);
}

.card-img-back {
    margin-top: 56px;
    grid-column: 2/-1;
    grid-row: 1/3;
    position: relative;
    z-index: -100;

}

picture {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
}



.front-details {
    position: absolute;
    top: 52%;
    left: 15%;
    width: 225px;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    gap: 10px;
    letter-spacing: $ls-card-details;
}

.front-details > * {
    text-align: center;
    margin: 10px 0 0 0;
}

.back-details {
    position: absolute;
    grid-column: 3;
    grid-row: 2;
    left: 60%;
    top: -20%;
}

.input-box  label {
    display: block;
}


.input-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.input-row  input{
    width: 25%;
}

.input-row .cvc-input {
    width: 100%
}

.card-logo {
    width: 20%;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-width: 1000px) {

    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;


        grid-template-areas: 
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main"
    }

    
    .right-side {
        grid-area: main;
    }

    .left-side {
        grid-area: sidebar;
        padding: 10px;
        background-image: url('./assets/images/bg-main-mobile.png');
    }

    .img-container {
        grid-template-columns: repeat(12, 1fr);
    }

}